.App {
  text-align: center;
  font-family: 'Helvetica Neue';
  color: black;
}

.title {
  background-color: #1ca0c3;
  color: white;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navlink {
  color: black;
  display: flex;
  align-items: center;
  margin: auto;
}

.labelLogo {
  padding-top: 75px;
}

header {
  margin-top: 8px;
}

.App-link {
  color: #61dafb;
}

.cardTitles {
  font-size: 14px;
}

.albumCover {
  height: 150px;
}

.labelLogo {
  height: 75px;
}

nav {
  display: flex;
  justify-content: space-evenly;
}

.albumList {
  vertical-align: middle;
  padding-bottom: 45px;
}

form {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.deleteButton {
  display: block;
  margin: auto;
}
